# Python
__pycache__/
*.pyc
*.pyo
*.pyd
myenv/
venv/
.venv/
.pytest_cache/

# Node.js
node_modules/
dist/
.eslintcache

# Celery
celerybeat-schedule
celerybeat.pid

# OS
.DS_Store
Thumbs.db

# Environment variables & secrets
.env
.env.*
!.env.example

# Logs
*.log
